# Server Configuration
PORT=3002
NODE_ENV=development
LOG_LEVEL=debug

# MongoDB Configuration
MONGODB_URI=mongodb+srv://aditta_saikat:penguin007@cluster0.2jxyc6x.mongodb.net/e-commerce?retryWrites=true&w=majority&appName=Cluster0

# Internal service-to-service auth
INTERNAL_API_KEY=f8ba9c7806ec34f28e86e6a8485ce9f87ce53b1fd8996dd79f63eae5bd577035

# JWT Configuration
JWT_SECRET=9b198e036f164ba59733dfc0b988922919258c7e5569874ec5171bc28c38b167df141ac3870f761ae8ca0610cea50eee
JWT_EXPIRES_IN=7d

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:3001,http://localhost:5173

# Rate Limiting
RATE_LIMIT_WINDOW_MS=900000
RATE_LIMIT_MAX_REQUESTS=100
